<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/{id}/modify" method="post">
    <div>
        <div>저자</div>
        <input type="text" name="author" th:value="${book.author}"/>
    </div>

    <div>
        <div>제목</div>
        <input type="text" name="title" th:value="${book.title}"/>
    </div>

    <div>
        <div>내용</div>
        <textarea name="content" th:text="${book.content}"></textarea>
    </div>

    <input  type="submit" role="button" value="수정">
</form>



</body>
</html>